
.upmin-model{class: model.color}
  %h3
    Create a
    = model.humanized_name(:singular)

  %br
  %br
  %h3{style: "color: #333;"}
    Attributes
  %hr

  .attributes
    -# Yes this is meant to be model.model - this is the raw rails model instance.
    = form_for(model, url: model.create_path, html: { method: :post }) do |f|

      -# Render each attribute
      - model.attributes.each do |attribute|
        = up_render(attribute, locals: { form_builder: f })

      = f.submit("Create", class: "btn btn-primary")

