- boolean ||= "false"

- if editable && f = form_builder
  = f.check_box(attr_name, value: boolean, class: "boolean")

- else
  %p.well
    = f.check_box(attr_name, {value: boolean, class: "boolean", disabled: "disabled"})
