%a.search-result-link{href: upmin_model.path}
  .upmin-model{class: upmin_model.color}
    %dl.dl-horizontal
      - @klass.attributes.each do |attribute|
        %dt
          = upmin_model.attribute_label(attribute)
        %dd
          = upmin_model.send(attribute)
