- if node.editable?
  %input.form-control{type: :datetime, value: datetime}
- else
  %p.well
    = datetime



-# Month: http://www.jqueryrain.com/2014/03/smart-forms-jquery-html5-css3/
-# Time: http://www.jqueryrain.com/2014/04/clockpicker-clock-style-timepicker-bootstrap/
