
-if node.nodes.any?
  %p
    - node.nodes.each do |c_node|
      = upmin_render(c_node, options)

    %a.btn.btn-xs.btn-default{class: "btn-#{node.nodes.first.color}", href: '#'}
      %i.fa.fa-plus{style: "padding-right: 3px;"}
      = node.type.to_s.gsub(/_collection/, "").humanize



- if node.nodes.empty?
  %p.well
    None



