.upmin-model input.boolean {
    float: left;
    height: auto;
    margin: 4px 8px;
    clear:both;
}


ol.progbar {
    margin: 0 0 50px 0;
    padding: 0;
    list-style-typ: none;
}

ol.progbar li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progbar[data-progbar-steps="2"] li { width: 49%; }
ol.progbar[data-progbar-steps="3"] li { width: 33%; }
ol.progbar[data-progbar-steps="4"] li { width: 24%; }
ol.progbar[data-progbar-steps="5"] li { width: 19%; }
ol.progbar[data-progbar-steps="6"] li { width: 16%; }
ol.progbar[data-progbar-steps="7"] li { width: 14%; }
ol.progbar[data-progbar-steps="8"] li { width: 12%; }
ol.progbar[data-progbar-steps="9"] li { width: 11%; }

ol.progbar li.progbar-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progbar li.progbar-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progbar li:after {
    content: "\00a0\00a0";
}
ol.progbar li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progbar li.progbar-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progbar li.progbar-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}
