@import "colors";
@import "button_mixins";

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {

  background-color: #2c3e50;
}

.btn {
  @each $color in $color_list {
    $name: nth($color, 1);
    $hex: nth($color, 2);

    &.btn-#{$name} {
      @include button-variant(#fff, $hex, $hex);
    }
  }
}

.label {
  margin-right: 10px;
  font-weight: 500;

  @each $color in $color_list {
    $name: nth($color, 1);
    $hex: nth($color, 2);

    &.#{$name} {
      background-color: $hex;
    }
  }
}

.nilable-addon {
  .form-group {
    margin-bottom: 0;
  }
  label {
    padding-top: 6px;
    padding-left: 28px;
  }
  input[type=checkbox] {
    margin-top: -17px !important;
  }
}

.new-button-wrapper {
  padding-top: 8px;
}


.wizard span {padding: 12px 12px 10px 12px; margin-right:5px; background:#efefef; position:relative; display:inline-block; }
.wizard span:before {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #fff; position: absolute; content: ""; top: 0; left: 0;}
.wizard span:after {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #efefef; position: absolute; content: ""; top: 0; right: -20px; z-index:2;}
.wizard span:first-child:before {border:none;}
.wizard span:last-child:after {border:none;}

.wizard span:first-child {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius:   4px 0 0 4px;}
.wizard span:last-child {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius:   0 4px 4px 0;}

.wizard .badge {margin:0 5px 0 18px; position:relative; top:-1px;}
.wizard span:first-child .badge {margin-left:0;}

.wizard .current {background:#007ACC; color:#fff;}
.wizard .current:after {border-left-color:#007ACC;}
