$color_list: (
  (yellow, #F1C40F),
  (orange, #F39C12),
  (red, #E74C3C),
  (dark_red, #AB3326),
  (purple, #9B59B6),
  (dark_blue, #2C3E50),
  (light_blue, #3498DB),
  (blue_green, #18BC9C),
  (green, #01C94F));

$yellow: #F1C40F;
$orange: #F39C12;
$red: #E74C3C;
$dark_red: #AB3326;
$purple: #9B59B6;
$dark_blue: #2C3E50;
$light_blue: #3498DB;
$blue_green: #18BC9C;
$green: #01C94F;
