@import "colors";

.search-result-link {
  .upmin-model {
    margin-bottom: 10px;
  }
}

.upmin-model {
  padding: 20px;
  margin: 10px 0px 250px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  @each $color in $color_list {
    $name: nth($color, 1);
    $hex: nth($color, 2);

    &.#{$name} {
      border-left-color: $hex;
      > h3, > h4 {
        color: $hex;
        > a {
          color: $hex;
        }
        > a.delete {
          color: #fff;
        }
      }
    }
  }

  h3 {
    margin-top: 6px;
    font-size: 1.3em;
  }
  h4 {
    margin-top: 4px;
    font-size: 1.1em;
  }
  h5 {
    margin-top: 24px;
    margin-bottom: 6px;
  }
  h6 {
    margin-top: 20px;
    margin-bottom: 6px;
  }

  dd {
    word-wrap: break-word;
  }


  .collection-search {
    margin-top: 10px;
    // margin-right: 20px;
    font-size: 1.1em;

    .input-group-btn {
      button.btn-default {
        padding: 9px;
      }
    }
  }

  input {
    height: 40px;
    font-size: 1.1em;
  }

  .radio, .radio-inline input {
    height: auto;
  }

  .well {
    padding: 9px;
    margin-bottom: 0;
    min-height: 40px;

    &.action-well {
      margin-bottom: 32px;
    }
  }

  a.active-tag-link {
    text-decoration: none;
    .label {
      padding: 4px 6px 5px 6px;
    }
  }

}
