<h3>Available Models</h3>
<h4>
  <%= request.path_info.gsub(/^\//,'') %>
  <%= request.path_info %>
</h4>

<ul>
  <% @models.each do |model| %>
    <li>
      <a href="<%= admin_path(model) %>"><%= model.to_s %></a>
    </li>
  <% end %>
</ul>
