<h3>Users</h3>

<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Company</th>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.company_id %></td>
    </tr>
  <% end %>
</table>
