.container
  .row
    .col-sm-12
      %h1
        Uh oh! The Dashboard isn't implemented yet.
        %small
          This is embarrassing. :(
      %h3
        ^ Click one of those links up top to use features that are working. ^
