.navbar.navbar-static-top
  .navbar-header
    %a.navbar-brand{href: root_path}
      Upmin Dashboard
  .search-container
    .input-group.input-group-lg.m-t
      %input#q.form-control.string{autocomplete: "off", autocorrect: "false", name: "q", placeholder: "Search by email, id, or anything else...", spellcheck: "false", type: "text"}
      %span.input-group-addon
        %i.glyphicon.glyphicon-search

.data-container.hidden
  .models-data
    - Upmin::Model.all.each do |upmin_model|
      .model{data: { color: upmin_model.color }, class: upmin_model.name }

.container
  .row
    .col-sm-3#facets
      -# %h3
      -#   Models
      -# %ul.list-unstyled.list-model-facets
      -#   %li.yellow
      -#     %a{href: '#'}
      -#       Users (10456)
      -#   %li.red
      -#     %a{href: '#'}
      -#       Tweets (228845)
      -#   %li.blue_green
      -#     %a{href: '#'}
      -#       Orders (43)
      -#   %li.light_blue
      -#     %a{href: '#'}
      -#       Reviews (111)
      -#   %li.purple
      -#     %a{href: '#'}
      -#       Products (98)

    .col-sm-9
      .search-results
        - (0...10).each do |i|
          = render(partial: "search_result", locals: { hidden: true, html_id: "search-result-#{i}" } )

      .text-center#pagination
        %ul.pagination


