.container
  .row
    .col-md-8
      - @results.each do |r|
        %a.search-result-link{href: upmin_model_path(model_name: params[:model_name], id: r.id)}
          .upmin-model{class: r.upmin_color}
            %dl.dl-horizontal
              - r.upmin_attributes.each do |u_attr|
                %dt
                  = u_attr.to_s.capitalize.gsub("_", " ")
                %dd
                  = r.send(u_attr)


    .col-md-4
      .well
        = upmin_render_search_box(@model, {})



