- nest_level = options[:nest_level] || 0

- if nest_level > 1
  .well
    - association_relation.each do |ar|
      = upmin_render(ar, options.merge(as: :active_record_tag))

-else
  - association_relation.each do |active_record|
    = upmin_render(active_record, options.merge(nest_level: nest_level - 1))
