- editable = options[:editable] == false ? false : true

- if editable
  -# .input-group
  %input.form-control{type: :number, value: fixnum}
    -# %span.input-group-btn
    -#   %button.btn.btn-default{type: :button}
    -#     Save
- else
  %p.well
    = fixnum
