- provide(:subtitle, instance.class.upmin_name)
- nested ||= false

-# TODO(jon): Update this to not be circular
-# TODO(jon): Update the styling a good bit
-# TODO(jon): Make attributes editable

Instance!!!
